@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9rem 2rem;
    z-index: 1;
    width: 100%;
    opacity: 0.85;
    margin-bottom: 1rem;
    color: #DCDCDC;
    font-family: 'Kumbh Sans', sans-serif;
  }
  .display-container {
    max-width: 750px;
    margin: 2rem auto;
    overflow: hidden;
    padding: 2rem 2rem;
    box-shadow: 0px 0px 10px #888888;
  }
  .container {
    max-width: 800px;
    margin: 2rem auto;
    overflow: hidden;
    padding: 0 2rem;
  }  
  .text-center {
    text-align: center;
  }
  .all-center {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .form-container {
    max-width: 550px;
    margin: 4rem auto;
    overflow: hidden;
    padding: 3rem 2rem;
    box-shadow: 0px 0px 10px #888888;
  }
  select,
  textarea,
  text {
  display: block;
  width: 100%;
  height: 2rem;
  padding: 0.4rem;
  font-size: 1rem;
  border: 1px solid #ccc;
}
input {
    display: block;
    width: 100%;
    padding-right: 0rem;
    height: 2rem;
    font-size: 1rem;
    border: 1px solid #ccc;
}
button {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 0;
    overflow: hidden;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    border: 1px solid #ccc;;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
}
.card {
    padding: 1rem 0rem;
    border: #ccc 1px dotted;
    margin: 0.7rem 0;
    overflow: hidden;
  }
  
  .list {
    margin: 0.5rem 0;
  }
  
  .list-li {
    padding-bottom: 0.3rem;
  }
  
  .alert {
    padding: 0.7rem;
    margin: 1rem 0;
    opacity: 0.8;
    background: #fff;
    color: #333;
  }
  .alert-success {
    background: #28a745;
    color: #fff;
  }
  .alert-danger {
    background: #dc3545;
    color: #fff;
  }