.card {
	width: 50rem;
	margin: auto;
}

.card h3 {
	text-align: center;
	margin-top: 1rem;
}

.card input {
	display: inline-block;
	width: 20rem;
	margin: auto;
}

.card button {
	width: 10rem;
	margin: auto;
	margin-top: 2rem;
}

.card h4 {
	cursor: pointer;
	text-align: center;
	margin-top: 2rem;
}
